.wrapped-form {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  animation: transitioning 1s forwards;
}

.column-form {
  display: flex;
  flex-direction: column;
  animation: transitioning 1s forwards;
}

@keyframes transitioning {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.custom-placeholder::placeholder {
  color: var(--pink);
  opacity: 1;
}

.button {
  display: flex;
  width: calc(100% - 2rem);
  margin: 0 1rem 1rem 1rem;
}
