.field-container {
  border-bottom: 1px solid var(--pink);
  border-bottom-right-radius: 0.75rem;
  position: relative;
  padding: 0.25rem;
  transition: box-shadow 0.3s ease;
}

.field-container:focus-within {
  box-shadow: 0 2px 0 0 var(--pink);
}

.error {
  border-bottom: 1px solid var(--red);
  transition: box-shadow 0.3s ease;
}

.error:focus-within {
  box-shadow: 0 2px 0 0 var(--red);
}
