.button {
  all: unset;
  font-size: var(--medium);
  cursor: pointer;
  padding: 0.5rem 1.75rem;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: background-color 300ms linear, color 300ms, box-shadow 300ms;
  border-radius: 2rem;
  animation: transitioning 1s forwards;
}

@keyframes transitioning {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.button.pink,
.button.gray,
.button.white {
  font-family: var(--bold-italic-font-family);
}

.button.pink,
.button.gray {
  width: 100%;
}

.button.pink {
  background: var(--very-light-pink);
  background-image: linear-gradient(to right, var(--white), var(--light-pink));
  color: var(--pink);
  box-shadow: 0 0 0 1px var(--medium-pink);
  transition: background-image 600ms ease, color 600ms ease,
    box-shadow 600ms ease;
}

.button.pink.hovered {
  background: var(--pink);
  background-image: linear-gradient(
    to right,
    var(--light-pink),
    var(--medium-pink),
    var(--pink)
  );
  color: var(--white);
  box-shadow: 0 0 0 1px var(--pink);
}

.button.pink .button-text {
  display: inline-block;
  transition: transform 600ms ease;
}

.button.pink.hovered .button-text {
  transform: scale(1.2);
}

.button.gray.disabled {
  cursor: not-allowed;
  background: var(--very-light-gray);
  color: var(--light-gray);
  box-shadow: var(--light-gray);
}

.button.pink.disabled {
  cursor: not-allowed;
  background: var(--very-light-gray);
  color: var(--light-gray);
  box-shadow: var(--light-gray);
}

.button.gray {
  background-image: linear-gradient(
    to right,
    var(--light-pink),
    var(--light-gray)
  );
  color: var(--gray);
  box-shadow: 0 0 0 1px var(--light-gray);
  transition: background-image 600ms ease, color 600ms ease,
    box-shadow 600ms ease;
}

.button.gray.hovered {
  background-image: linear-gradient(
    to right,
    var(--medium-pink),
    var(--medium-gray)
  );
  color: var(--white);
  box-shadow: 0 0 0 1px var(--white);
}

.button.gray .button-text {
  display: inline-block;
  transition: transform 600ms ease;
}

.button.gray.hovered .button-text {
  transform: scale(1.2);
}

.button.white {
  background: var(--white);
  color: var(--gray);
  box-shadow: 0 0 0 1px var(--gray);
}

.button.white.hovered {
  background: var(--gray);
  color: var(--white);
  box-shadow: 0 0 0 1px var(--white);
}

.button.underlined {
  text-decoration: underline;
  color: var(--gray);
  font-size: var(--normal);
  padding: 0px;
}

.button.underlined.hovered {
  text-decoration: none;
}

.info {
  color: var(--pink);
  font-size: var(--normal);
  padding: 0px;
  cursor: auto;
}
