@import "./global.css";

.app {
  padding: 0;
  font-family: var(--main-font-family);
  font-size: var(--medium);
  color: var(--gray);
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 7.6rem minmax(calc(100vh - 9.6rem), auto) 2rem;
  grid-template-areas:
    "main-header"
    "main"
    "footer";
}

.app.checkout-process-container {
  grid-template-rows: 3rem minmax(calc(100vh - 5.6rem), auto) 2rem;
  grid-template-areas:
    "mini-header"
    "main"
    "footer";
}

@media (max-width: 701px) {
  .app {
    grid-template-rows: 4.6rem minmax(calc(100vh - 6.6rem), auto) 2rem;
  }
}
